{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
  <h2>Product List</h2>
  {% if products %}
    <ul>
      {% for product in products %}
        <li>
          <strong>{{ product.name }}</strong><br>
          ₹{{ product.price }}<br>
          {{ product.description }}<br>
          <a href="{{ url_for('add_to_cart', product_id=product.id) }}">Add to Cart</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No products available.</p>
  {% endif %}
{% endblock %}
